.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
*.log
notebooks
tests
database/*.db
database/*.sqlite
database/*.sqlite3
database/*.db-journal
database/*.db-wal
database/*.db-shm
scripts/__pycache__
**/__pycache__
scripts/
services/
